<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Loan</title>
    <link rel="stylesheet" th:href="@{/normalize.css}">
    <link rel="stylesheet" th:href="@{/myStyle2.css}">
</head>
<body>
<div class="global-wrapper">
    <nav>
        <a th:href="@{/my-login/home}" class="menu selected">Home</a>
        <a th:href="@{/author/index}" class="menu">Author</a>
        <a th:href="@{/book/index}" class="menu">Book</a>
        <a th:href="@{/customer/index}" class="menu">Customer</a>
        <a th:href="@{/loan/index}" class="menu">Loan</a>
        <form action="#" th:action="@{/logout}" method="post">
            <input type="submit" class="button-add" value="Logout">
        </form>

    </nav>
    <main>
        <div class="top">
            <span>Home</span>
        </div>




    </main>

</div>
</body>
</html>